.onetab input{
    width:350px;
    padding:20px;
    outline: none;
    border: 1px solid gainsboro;
    margin:10px;
}

.onetab textarea{
    width:100%;
    padding:20px;
    outline: none;
    border: 1px solid gainsboro;
    margin:10px;
    height: 250px;
}

.onetab button{
    padding: 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    width:250px;
    margin-bottom: 50px;
    font-weight: bolder;
}

.onetab button:hover{
    background-color: rgb(243, 167, 167);
}
#inp{
    width:100%;
}