.container-milestone {
    display: flex;
    justify-content: center;
}
.container-text {
    display: flex;
    flex-direction: column;
}
#photo-milestone {
    width: 700px;
    height: 500px;
    padding: 40px;
}