.Core-Pricing {
    background-color: black;
    color: white;
    padding: 60px 50px;
}
.prx-card td { padding: 18px 20px; }
.prx-card svg {
    fill: white;
    width: 50px;
    height: 50px;
}
.prx-choice {
    display: flex;
    justify-content: center;
}
.pricing-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.prx-card { 
    width: 25%;
    height: 74rem;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: red;
    overflow: hidden;
}
.prx-card h4, h3, h1 {
    display: flex;
    justify-content: center;
}

#standard {
    background-image: url("https://www.ribaostore.com/cdn/shop/articles/how_to_count_money_fast_5371x.jpg?v=1686553732");
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: -240px; /* positioning the photo on the horizontal axis */
}
#standard:before {
    content: '';
    position: fixed;
    background-color: rgba(100, 100, 107, 0.6);
    opacity: 0.8;
    z-index: -1;
}
/* #premium {overflow: hidden;} */
button {
    width: 100px;
    height: 50px;
    margin: 30px 0 30px 0;
}
#btn_casual{margin-top: 80px;}
.tab-promo {
    background-color: rgb(35, 105, 7);
    width: 180px;
    height: 30px;
    position: relative;
    top: -73.6rem;
    right: -17.7rem;
    transform: rotate(45deg);
    justify-items: center;
    
}
.tab-recom {
    background-color: white;
    color: red;
    width: 120px;
    height: 30px;
    position: relative;
    top: -69.5rem;
    right: -78rem;
    transform: rotate(90deg);
    border-radius: 0 0 35px 0;
}
.tab-recom p ,.tab-promo p {
    position: relative;
    top: 3px;
    left: 10px;
    margin: 0;
}
.prx-switch {
    position: relative;
    top: -2px;
    left: -6px;
    
    margin: 0 0 30px 30px;

}